    <!-- footer -->
    <footer>
        <p class="my-2 text-center">COPYRIGHT (&copy;) 2019 mo005_8020 - 企业类网站.</p>
    </footer>

    <!-- sidebar -->
    <aside class="sidebar">
        <a class="btn_feedback position-fixed text-center border bg-white" href="javascript:;"></a>
        <a class="btn_player position-fixed text-center border bg-white" href="javascript:;"></a>
        <a class="btn_top position-fixed text-center border bg-white" href="javascript:;"></a>
        <div class="w-100 h-100 d-none">
            <i class="bg-dark w-100 h-100  position-fixed"></i>
            <div class="p-3 position-fixed bg-white">
                <img class="" src="<?php echo _IMG_ ?>icon2.png" alt="">
                <p class="mb-n2 mt-2 text-center">扫描二维码分享到微信</p>
            </div>
        </div>
    </aside>

    <!-- js -->
    <script type="text/javascript" src="<?php echo _JS_ ?>main.js"></script>
</body>
</html>