<title>Insurance-About</title>

<?php require_once('view/common/meta.html'); ?>
<style>
    .menu+section img {
        width: 18.8%;
    }
</style>
<?php require_once('view/common/header.html'); ?>




<!-- menu -->
<div class="menu bg-white p-0">
    <div class="ml-5 pt-3">
        <span>您的位置：</span>
        <a href="./Insurance_bs.html">首页</a>
        <i class="px-2"></i>
        <a href="javascript:;">品牌</a>
        <i class="px-2"></i>
        <a class="xz" href="./subpage/about.bs.html">公司信息</a>
    </div>
    <hr class="mb-0">
    <div class="py-5 my-2 text-center">
        <h5>公司信息</h5>
        <p class="text-black-50 p-0">About Us</p>
    </div>
</div>

<!-- body -->
<section id="content" class="bg-white p-5">
   <?php echo $article['a_content']; ?>
</section>


<?php require_once('view/common/footer.html'); ?>