<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>news-3</title>

    <!-- bootstrap -->
    <link rel="stylesheet" href="../../../CSS/bootstrap.css" type="text/css" media="all">
    <!-- <link href="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"><link href="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/css/bootstrap-grid.min.css" rel="stylesheet"> -->
    <!-- <link href="https://cdn.bootcss.com/twitter-bootstrap/3.4.0/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- JS -->
    <script src="../../../JS/jquery.js"></script>
    <!-- <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script> -->
    <script src="https://cdn.bootcss.com/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="../../../JS/bootstrap.js"></script>
    <!-- <script src="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script> -->
    <!-- <script src="https://cdn.bootcss.com/twitter-bootstrap/3.4.0/js/bootstrap.min.js"></script> -->

    <link rel="stylesheet" href="../CSS/base.css" type="text/css" media="All">
    <!-- <link rel="stylesheet" href="./CSS/main-bs.css" type="text/css" media="All"> -->

</head>
<body class="mt-5 pt-3">
    <!-- top -->
    <header class="d-flex justify-content-between align-items-center bg-white fixed-top">
        <a href="../index.html"><img src="../images/logo1.png" alt=""></a>
        <nav class="d-flex">
            <a class="px-4" href="../Insurance_bs.html">首页</a>
            <a class="px-4" href="./business.bs.html">投资业务</a>
            <a class="px-4" href="./case.bs.html">投资案例</a>
            <a class="px-4 dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">品牌&nbsp;&nbsp;</a>
            <div class="dropdown-menu">
                <a class="dropdown-item text-center" href="./about.bs.html">公司信息</a>
                <a class="dropdown-item text-center" href="./adviser.bs.html">投资顾问</a>
                <!-- <div role="separator" class="dropdown-divider"></div> -->
                <a class="dropdown-item text-center" href="./recruitment.bs.html">人才招聘</a>
                <a class="dropdown-item text-center" href="./partner.bs.html">合作伙伴</a>
            </div>
            <a class="px-4 xz" href="./news.bs.html">新闻资讯</a>
            <a class="px-4" href="./contact.bs.html">联系我们</a>
            <i class="mx-4 px-3"></i>
        </nav>
    </header>

    <!-- menu -->
    <div class="menu bg-white pb-5">
        <div class="ml-5 pt-3">
            <span>您的位置：</span>
            <a href="../Insurance_bs.html">首页</a>
            <i class="px-2"></i>
            <a class="" href="./news.bs.html">新闻资讯</a>
            <i class="px-2"></i>
            <a class="xz" href="./n3.bs.html">最新</a>
        </div>
        <hr class="mb-5">
    </div>

    <!-- content -->
    <section id="content" class="bg-white p-5">
        <div class="my-4 text-center">
            <h6 class="mb-0">建议BMO房地产合伙公司资助首个收购其新的泛欧基金</h6>
            <p class="text-secondary">2016-12-06</p>
            <p class="text-black-50 pt-2">INSURANCE代表BMO REP - Best Value Europe 1为BMO房地产合伙人（BMO REP）提供法律意见，为其在欧洲的首次收购提供资金。</p>
        </div>
        <hr class="mb-5">
        <div class="pr-5 mb-5 pb-5">
            <p class="text-black-50 mb-4">代表BMO REP - Best Value Europe 1为BMO房地产合伙人（BMO REP）提供法律意见，为其在欧洲的首次收购提供资金。资产是零售和1750平方米的办公的大楼“旗舰”，位于15的Rue de la Paix酒店，由10个租户包括住房奢侈品牌登喜路，莫布森和范亭完全占据。该融资由欧洲信贷银行（BECM）实现。SHIFT CAPITAL建议BMO REP与BECM讨论，在谈判过程中协助并在整个交易过程中协调所有参与交易的各方。<br><br>
               Bouwfonds投资管理公司宣布其Bouwfonds欧洲房地产停车基金（BEREPF）成功再融资5000万欧元。<br><br>
               Rabo房地产集团的荷兰投资公司Bouwfonds Investment Management（Bouwfonds IM）宣布以5,000万欧元成功再融资泛欧基金BEREPF。SHIFT CAPITAL向Bouwfonds IM提供法律，英格兰，德国和西班牙12个停车场组合的再融资服务，代表6,000多个停车位。<br><br>
               该投资组合通过英格兰，法国和德国的三条抵押贷款线路进行再融资，总金额达5000万欧元：英格兰苏格兰皇家银行，法国雷姆（法国LFPCréancesImmobilières，以及德国的Sparkasse和BayernLB。<br><br>
               在此次交易中，White Parking Bouwfonds IM董事总经理Bart Pierik表示：“Bouwfonds IM很高兴在不同国家的贷款人的支持下进行再融资。他们可能会赞赏基金产生的回报的稳定性和稳定性。<br><br>
               Parking Bouwfonds IM董事总经理Bart Pierik表示：“Bouwfonds IM很高兴在不同国家的贷款人的支持下进行再融资。他们可能会赞赏基金产生的回报的稳定性和稳定性。<br><br>
               Bouwfonds IM董事总经理Jaap Gillis表示：“我们看到我们的客户对我们的停车基金非常感兴趣。贷款人对我们的停车场资金充满信心的事实加强了我们在整个欧洲投资和实施新项目的愿望。<br><br>
               我们建议BEREPF与潜在贷款人进行讨论，并在谈判期间协助他们，并在整个交易过程中协调交易的各方。<br><br>
               第一个专门投资停车场的房地产基金，BEREPF成立于2005年。BEREPF是一个非边际房地产基金，由Bouwfonds IM管理，拥有价值约2.6亿欧元的资产组合，代表机构投资者投资。该投资组合目前在德国，法国，西班牙，英国和荷兰设有19个停车场。</p>
            <div class="d-flex justify-content-between my-5">
                <img class="w-50 mr-4" src="../images/c2.jpg" alt="">
                <img class="w-50" src="../images/c4.jpg" alt="">
            </div>
        </div>
    </section>

    <!-- footer -->
    <footer>
        <p class="my-2 text-center">COPYRIGHT (&copy;) 2019 mo005_8020 - 企业类网站.</p>
    </footer>

    <!-- sidebar -->
    <aside class="sidebar">
        <a class="btn_feedback position-fixed text-center border bg-white" href="javascript:;"></a>
        <a class="btn_player position-fixed text-center border bg-white" href="javascript:;"></a>
        <a class="btn_top position-fixed text-center border bg-white" href="javascript:;"></a>
        <div class="w-100 h-100 d-none">
            <i class="bg-dark w-100 h-100  position-fixed"></i>
            <div class="p-3 position-fixed bg-white">
                <img class="" src="../images/icon2.png" alt="">
                <p class="mb-n2 mt-2 text-center">扫描二维码分享到微信</p>
            </div>
        </div>
    </aside>

    <!-- js -->
    <script type="text/javascript" src="../JS/main.js"></script>
</body>
</html>