<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>news-5</title>

    <!-- bootstrap -->
    <link rel="stylesheet" href="../../../CSS/bootstrap.css" type="text/css" media="all">
    <!-- <link href="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"><link href="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/css/bootstrap-grid.min.css" rel="stylesheet"> -->
    <!-- <link href="https://cdn.bootcss.com/twitter-bootstrap/3.4.0/css/bootstrap.min.css" rel="stylesheet"> -->

    <!-- JS -->
    <script src="../../../JS/jquery.js"></script>
    <!-- <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script> -->
    <script src="https://cdn.bootcss.com/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="../../../JS/bootstrap.js"></script>
    <!-- <script src="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script> -->
    <!-- <script src="https://cdn.bootcss.com/twitter-bootstrap/3.4.0/js/bootstrap.min.js"></script> -->

    <link rel="stylesheet" href="../CSS/base.css" type="text/css" media="All">
    <!-- <link rel="stylesheet" href="./CSS/main-bs.css" type="text/css" media="All"> -->

</head>
<body class="mt-5 pt-3">
    <!-- top -->
    <header class="d-flex justify-content-between align-items-center bg-white fixed-top">
        <a href="../index.html"><img src="../images/logo1.png" alt=""></a>
        <nav class="d-flex">
            <a class="px-4" href="../Insurance_bs.html">首页</a>
            <a class="px-4" href="./business.bs.html">投资业务</a>
            <a class="px-4" href="./case.bs.html">投资案例</a>
            <a class="px-4 dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">品牌&nbsp;&nbsp;</a>
            <div class="dropdown-menu">
                <a class="dropdown-item text-center" href="./about.bs.html">公司信息</a>
                <a class="dropdown-item text-center" href="./adviser.bs.html">投资顾问</a>
                <!-- <div role="separator" class="dropdown-divider"></div> -->
                <a class="dropdown-item text-center" href="./recruitment.bs.html">人才招聘</a>
                <a class="dropdown-item text-center" href="./partner.bs.html">合作伙伴</a>
            </div>
            <a class="px-4 xz" href="./news.bs.html">新闻资讯</a>
            <a class="px-4" href="./contact.bs.html">联系我们</a>
            <i class="mx-4 px-3"></i>
        </nav>
    </header>

    <!-- menu -->
    <div class="menu bg-white pb-5">
        <div class="ml-5 pt-3">
            <span>您的位置：</span>
            <a href="../Insurance_bs.html">首页</a>
            <i class="px-2"></i>
            <a class="" href="./news.bs.html">新闻资讯</a>
            <i class="px-2"></i>
            <a class="xz" href="./n5.bs.html">最新</a>
        </div>
        <hr class="mb-5">
    </div>

    <!-- content -->
    <section id="content" class="bg-white p-5">
        <div class="my-4 text-center">
            <h6 class="mb-0">INSURVANCE建议Maranatha为获得一家新酒店提供融资</h6>
            <p class="text-secondary">2016-12-05</p>
            <p class="text-black-50 pt-2">向Maranatha酒店集团建议在布鲁塞尔为Sofitel Le Louise进行收购融资</p>
        </div>
        <hr class="mb-5">
        <div class="pr-5 mb-5 pb-5">
            <p class="text-black-50 font-weight-bold mb-4">是否有特别适合此项活动的操作类型？</p>
            <p class="text-black-50 mb-4">债务顾问在机会主义或增值业务和大型运营中带来最大价值，这需要银行业务池的介入，而这对于确保流程至关重要。董事会的报酬成为交易经济中的附属品。同样，它最大限度地提高了重组业务的价值，在这种情况下，通常需要第三方的干预来组织和确保交易，并在各方之间“缓冲”。也就是说，债务顾问可以被要求介入所有类型的项目，因为他们的干预几乎总是对融资的一般条件产生最优化的影响。</p>
            <p class="text-black-50 font-weight-bold mb-4">今天的债务市场状况如何？中期预期是什么？</p>
            <p class="text-black-50 mb-4">尽管去年年底长期利率有所上升，但市场仍在全球范围内开放，贷款人的胃口在今年年初得到确认。其他投资者的情况得到确认，保险公司越来越多，在未来12到24个月内开展收集工作的债务基金和可能出现的新基金。关于期望，每个委员会都有自己的房子观点。<br><br>
               在Insurvance，我们对代表全球经济预期和政治风险的长期利率的演变保持警惕，特别是由于欧洲和美国的新政策。如果他们增加得太快，这将不可避免地对资产产生重新定价效应，并可能对银行流动性产生影响。但是，在目前的配置下，很难对市场发展有良好的可预测性。</p>
        </div>
    </section>

    <!-- footer -->
    <footer>
        <p class="my-2 text-center">COPYRIGHT (&copy;) 2019 mo005_8020 - 企业类网站.</p>
    </footer>

    <!-- sidebar -->
    <aside class="sidebar">
        <a class="btn_feedback position-fixed text-center border bg-white" href="javascript:;"></a>
        <a class="btn_player position-fixed text-center border bg-white" href="javascript:;"></a>
        <a class="btn_top position-fixed text-center border bg-white" href="javascript:;"></a>
        <div class="w-100 h-100 d-none">
            <i class="bg-dark w-100 h-100  position-fixed"></i>
            <div class="p-3 position-fixed bg-white">
                <img class="" src="../images/icon2.png" alt="">
                <p class="mb-n2 mt-2 text-center">扫描二维码分享到微信</p>
            </div>
        </div>
    </aside>

    <!-- js -->
    <script type="text/javascript" src="../JS/main.js"></script>
</body>
</html>